@import "~bootstrap/scss/bootstrap";
@import "./_setting.scss";

body {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.travail-app {
  height: 100vh;
  background-color: $board-bg-color;
  .icon {
    font-size: 14px;
    margin: 0 3px;
  }
  .travail-app-container {
    margin: 0 15px;
    padding: 0px;
  }

  .btn:focus,
  .btn:active {
    outline: none;
    box-shadow: none;
  }
}
