@import "./_setting.scss";

body {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.travail-app {
  height: 100vh;
  background-color: $board-bg-color;
}
